numpy>=1.24.0
scipy>=1.10.0          # для cKDTree и других научных функций
pandas>=2.0.0          # для работы с CSV результатами
matplotlib>=3.7.0      # для визуализации
h5py>=3.8.0            # для чтения .mat файлов (версия 7.3)
#torch>=2.0.0           # PyTorch (CPU-версия, для GPU установите отдельно)
scikit-learn>=1.2.0    # опционально, но может пригодиться